p,h1{
    margin: 0%;
    padding: 0%;
    font-size: medium;
  
}
*{
    margin: 0%;
    padding: 0%;

}
input{
    color: #0d0e0c;
    
}
body{
    background-color: #1C2D44;
    margin: 0%;
    padding: 0%;
    background-size: cover;
    color: aliceblue;
}

#flip {
    padding: 5px;
    text-align: center;
    /* background-color: #c6e670; */
    border: solid 1px #c3c3c3;
  }
  
  #panel {
    padding: 50px;
    display: none;
  }

  .header{
    display: flex;
    justify-content: center;
  }

  .accordion{
    border: 2px solid wheat;
    /* background-color: #82b450;  */
    width: 50%;
    align-self: center;
    color: white;
    
  }
  .c{
    /* background-color: aliceblue; */
    height: min-content;
  }

  .container{
    display: flex;
    margin: 5px;
    padding: 5px;
    justify-content: center;
    color: aliceblue;
    width: 100%;

  }

  body h1{

    height: fit-content;
    text-align: center;
    margin: 5px;
  }

  .card{
    background-color: #f3eba5;
    width: 150px;
    display: inline-block;
    border-radius: 5px;
    color: brown;
    
  }

  .card-body{
    padding: 5px;
    border: 5px solid rgb(8, 7, 7);
  }

.blank{
  background-color: #0d0e0c;
  width: 100%;
}